In [3]:
import pandas as pd
import numpy as np
from tqdm import tqdm

In [5]:
# read conversion table and HS5 level sanction table
HS2022toHS2017 = pd.read_excel('/Users/omega_macbookpro/Desktop/International_Trade/Dissertation_MRes/Comtrade/Sanctions Docs/EU/Data/HS2022toHS2017.xlsx', sheet_name='Conversions', dtype={'From HS2022': str, 'To HS2017': str}) 
HS5_sanct = pd.read_csv("/Users/omega_macbookpro/Desktop/International_Trade/Dissertation_MRes/Comtrade/Sanctions Docs/EU/Data/Output_Script_2/HS5_sanct_short_ext_imp_v2.csv", dtype={'HS2017': str})
HS5_sanct[['Partial_HS5', 'Full_HS5','Transitory_HS5']] = HS5_sanct[['Partial_HS5', 'Full_HS5','Transitory_HS5']].fillna(value=0)
HS5_sanct.drop('Unnamed: 0', axis=1, inplace=True)

In [8]:
string_2017 = '201701,201702,201703,201704,201705,201706,201707,201708,201709,201710,201711,201712'
string_2018 = '201801,201802,201803,201804,201805,201806,201807,201808,201809,201810,201811,201812'
string_2019 = '201901,201902,201903,201904,201905,201906,201907,201908,201909,201910,201911,201912'
string_2020 = '202001,202002,202003,202004,202005,202006,202007,202008,202009,202010,202011,202012'
string_2021 = '202101,202102,202103,202104,202105,202106,202107,202108,202109,202110,202111,202112'
string_2022 = '202201,202202,202203,202204,202205,202206,202207,202208,202209,202210,202211,202212'
string_2023 = '202301,202302,202303,202304,202305,202306,202307,202308,202309,202310,202311,202312'
string_2024 = '202401,202402,202403,202404,202405'

In [9]:
string_dates = [string_2017, string_2018, string_2019, string_2020, string_2021, string_2022, string_2023, string_2024]

In [10]:
import requests
import comtradeapicall
import time
import datetime
subscription_key = '94ee5163870949e1aa6fe904f64e241d' # comtrade api subscription key (from comtradedeveloper.un.org)
directory = '/Users/omega_macbookpro/Desktop/International_Trade/Dissertation_MRes/Comtrade/Sanctions Docs/EU/Data/Comtrade_v1'  # output directory for downloaded files 
#proxy_url = '<PROXY URL>'  # optional if you need proxy url
# Call preview final data API to a data frame, max to 500 records, no subscription key required
# This example: Australia imports of commodity code 91 in classic mode in May 2022
#typeCode: goods or services
#freqCode: annual or month, eg '202101,202102,202103,202104,202105,202106,202107,202108,202109,202110,202111,202112'
#period: eg '200001,200002,200003'
#reporterCode: 97 - EU
#partnerCode: 
# 398 - Kzt
# 51 - Armenia
# 417 - Kyrgyzstan
# 792 - Türkiye
# 156 - China
# 756 or 757 - Switzerland
# 643 - Russia

In [11]:
def get_data_exp(params):
    data = comtradeapicall.getFinalData(subscription_key, typeCode='C', freqCode='M', clCode='HS', period=params[0],
                                        reporterCode=params[1], cmdCode=None, flowCode='M', partnerCode=params[2],
                                        partner2Code=None,
                                        customsCode=None, motCode=None, maxRecords=250000, format_output='JSON',
                                        aggregateBy=None, breakdownMode='classic', countOnly=None, includeDesc=True)
    return data

#### Download EEU3 export to Russia

In [12]:
ECU3 = get_data_exp([string_dates[0], '398,51,417', '643'])

In [13]:
for years in tqdm(string_dates[1:]):
    ECU3_new = get_data_exp([years, '398,51,417', '643'])
    ECU3 = ECU3.append(ECU3_new)

100%|██████████| 7/7 [10:26<00:00, 89.56s/it]

In [17]:
ECU3_W = get_data_exp([string_dates[0], '398,51,417', '0'])

In [23]:
for years in tqdm(string_dates[1:]):
    ECU3_W_new = get_data_exp([years, '398,51,417', '0'])
    ECU3_W = ECU3_W.append(ECU3_W_new)

  0%|          | 0/4 [00:00<?, ?it/s]

 25%|██▌       | 1/4 [03:40<11:02, 220.80s/it]

 50%|█████     | 2/4 [07:06<07:12, 216.31s/it]

 75%|███████▌  | 3/4 [09:01<03:06, 186.02s/it]

100%|██████████| 4/4 [10:05<00:00, 151.47s/it]

In [26]:
#ECU3.shape

In [24]:
ECU3 = ECU3.append(ECU3_W)

In [27]:
# fine
pd.crosstab(index=ECU3['classificationCode'], columns=ECU3['refYear'])

refYear,2017,2018,2019,2020,2021,2022,2023,2024
classificationCode,,,,,,,,
H5,246394,253461,247342,255296,262704,0,0,0
H6,0,0,0,0,0,263133,277835,82958

In [89]:
(95781 + 109906 + 94933 + 97670 + 101411 + 127304) / 3

209001.66666666666

In [28]:
# keep only needed col-s
#comtrade_cols = ['period', 'partnerCode', 'partnerISO', 'classificationCode', 'cmdCode', 'primaryValue']
comtrade_cols = ['period', 'reporterCode', 'partnerCode', 'cmdCode', 'primaryValue']
ECU3_short = ECU3[comtrade_cols]
ECU3_short = ECU3_short.loc[ECU3_short['cmdCode'].apply(len) == 6]
ECU3_short.reset_index(inplace=True)
ECU3_short.drop_duplicates(keep='first', inplace=True) # drop duplicates if were downloaded accidentally

In [29]:
ECU3_short_agg = ECU3_short.groupby(['period', 'cmdCode', 'partnerCode'])['primaryValue'].sum().reset_index() # sums over countries
ECU3_short_agg['reporterCode'] = 'ECU3'
ECU3_short_agg = ECU3_short_agg[['period', 'reporterCode', 'partnerCode', 'cmdCode', 'primaryValue']]

In [30]:
regres_countr = [643] # Rus
regres_countr_data = ECU3_short_agg.loc[ECU3_short_agg['partnerCode'].apply(lambda x: x in regres_countr)]
regres_countr_data_agg = regres_countr_data.groupby(['period', 'cmdCode'])['primaryValue'].sum().reset_index()

In [31]:
RestWorld = ECU3_short_agg.loc[ECU3_short_agg['partnerCode'] == 0]
RestWorld = pd.merge(RestWorld, regres_countr_data_agg, on=['period', 'cmdCode'], how='left')
RestWorld['primaryValue_y'].fillna(value=0, inplace=True)
RestWorld['primaryValue'] = RestWorld['primaryValue_x'] - RestWorld['primaryValue_y']
RestWorld['partnerCode'] = "RW_ECU3_1"
RestWorld['reporterCode'] = 'ECU3'
RestWorld = RestWorld[['period', 'reporterCode', 'partnerCode', 'cmdCode', 'primaryValue']]

ECU3_short_agg = ECU3_short_agg.append(RestWorld)

In [32]:
# check on one example that RW is correct
ECU3_short_agg.loc[(ECU3_short_agg['period'] == '202405') & (ECU3_short_agg['cmdCode'] == '961900')]

        period reporterCode partnerCode cmdCode  primaryValue
699943  202405         ECU3           0  961900    4934271.13
699944  202405         ECU3         643  961900    1098076.05
377381  202405         ECU3   RW_ECU3_1  961900    3836195.08

In [40]:
#ECU3_short_agg.to_csv("/Users/omega_macbookpro/Desktop/International_Trade/Dissertation_MRes/Comtrade/Sanctions Docs/EU/Data/Output_Script_10v1/ECU3_short_agg_imp.csv")
China

,typeCode,freqCode,refPeriodId,refYear,refMonth,period,reporterCode,reporterISO,reporterDesc,flowCode,...,netWgt,isNetWgtEstimated,grossWgt,isGrossWgtEstimated,cifvalue,fobvalue,primaryValue,legacyEstimationFlag,isReported,isAggregate
0,C,M,20170101,2017,1,201701,156,CHN,China,M,...,0.0,True,0.0,False,105.0,0.0,105.0,6,False,True
1,C,M,20170101,2017,1,201701,156,CHN,China,M,...,0.0,True,0.0,False,121780.0,0.0,121780.0,6,False,True
2,C,M,20170101,2017,1,201701,156,CHN,China,M,...,0.0,True,0.0,False,10400.0,0.0,10400.0,6,False,True
3,C,M,20170101,2017,1,201701,156,CHN,China,M,...,0.0,True,0.0,False,300000.0,0.0,300000.0,6,False,True
4,C,M,20170101,2017,1,201701,156,CHN,China,M,...,0.0,True,0.0,False,700789.0,0.0,700789.0,6,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87095,C,M,20231201,2023,12,202312,156,CHN,China,M,...,2.0,False,0.0,False,36.0,None,36.0,0,True,False
87096,C,M,20231201,2023,12,202312,156,CHN,China,M,...,2.0,False,0.0,False,306.0,None,306.0,0,True,False
87097,C,M,20231201,2023,12,202312,156,CHN,China,M,...,2.0,False,0.0,False,396.0,None,396.0,0,True,False
87098,C,M,20231201,2023,12,202312,156,CHN,China,M,...,2.0,False,0.0,False,330.0,None,330.0,0,True,False
87099,C,M,20231201,2023,12,202312,156,CHN,China,M,...,2.0,False,0.0,False,3.0,None,3.0,0,True,False

#### Download China export to Russia, EEU3

In [34]:
China = get_data_exp([string_dates[0], '156', '643,0'])

In [39]:
for years in tqdm(string_dates[4:]):
    China_new = get_data_exp([years, '156', '643,0'])
    China = China.append(China_new)

  0%|          | 0/4 [00:00<?, ?it/s]

 25%|██▌       | 1/4 [01:48<05:25, 108.58s/it]

 50%|█████     | 2/4 [03:44<03:41, 110.70s/it]

 75%|███████▌  | 3/4 [04:27<01:30, 90.33s/it]

100%|██████████| 4/4 [04:29<00:00, 67.27s/it]

In [41]:
China_ECU3 = get_data_exp([string_dates[0], '156', '398,51,417'])

In [45]:
for years in tqdm(string_dates[4:]):
    China_ECU3_new = get_data_exp([years, '156', '398,51,417'])
    China_ECU3 = China_ECU3.append(China_ECU3_new)

  0%|          | 0/4 [00:00<?, ?it/s]

 25%|██▌       | 1/4 [00:05<00:15,  5.19s/it]

 50%|█████     | 2/4 [00:08<00:09,  4.67s/it]

 75%|███████▌  | 3/4 [00:13<00:04,  4.77s/it]

100%|██████████| 4/4 [00:14<00:00,  3.51s/it]

In [46]:
China = China.append(China_ECU3)

In [48]:
# fine
pd.crosstab(index=China['classificationCode'], columns=China['refYear'])

refYear              2017   2018   2019   2020   2021   2022   2023
classificationCode
H5                  87507  88979  91522  90067  90869      0      0
H6                      0      0      0      0      0  91416  90474

In [49]:
# keep only needed col-s
#comtrade_cols = ['period', 'partnerCode', 'partnerISO', 'classificationCode', 'cmdCode', 'primaryValue']
comtrade_cols = ['period', 'reporterCode', 'partnerCode', 'cmdCode', 'primaryValue']
China_short = China[comtrade_cols]
China_short = China_short.loc[China_short['cmdCode'].apply(len) == 6]
China_short.reset_index(inplace=True)
China_short.drop_duplicates(keep='first', inplace=True) # drop duplicates if were downloaded accidentally

In [50]:
#China_short.to_csv("/Users/omega_macbookpro/Desktop/International_Trade/Dissertation_MRes/Comtrade/Sanctions Docs/EU/Data/Output_Script_10v1/China_short_imp.csv")
#China_short = pd.read_csv("/Users/omega_macbookpro/Desktop/International_Trade/Dissertation_MRes/Comtrade/Sanctions Docs/EU/Data/Output_Script_10v1/China_short_exp.csv", dtype={'cmdCode': str})
#China_short.drop(['Unnamed: 0', 'index'], axis=1, inplace=True)
# check all cmdCode have 6 digits
#China_short['cmdCode'].apply(len).unique()

In [12]:
#China_ECU3_short = China_short.loc[China_short['partnerCode'].apply(lambda x: x in [398,51,417])]

In [13]:
# China_ECU3_short_agg = China_ECU3_short.groupby(['period', 'cmdCode'])['primaryValue'].sum().reset_index() # sums over countries
# China_ECU3_short_agg['partnerCode'] = 'ECU3'
# China_ECU3_short_agg['reporterCode'] = 156
# China_ECU3_short_agg = China_ECU3_short_agg[['period', 'reporterCode', 'partnerCode', 'cmdCode', 'primaryValue']]

In [51]:
#China_short = China_short.loc[China_short['partnerCode'].apply(lambda x: x not in [398,51,417])]
# China_short = China_short.append(China_ECU3_short_agg)
#China_short['partnerCode'].unique()

array([643,   0,  51, 398, 417])

In [52]:
regres_countr = [643, 398, 51, 417] # Rus, ECU3
regres_countr_data = China_short.loc[China_short['partnerCode'].apply(lambda x: x in regres_countr)]
regres_countr_data_agg = regres_countr_data.groupby(['period', 'cmdCode'])['primaryValue'].sum().reset_index()

In [53]:
RestWorld = China_short.loc[China_short['partnerCode'] == 0]
RestWorld = pd.merge(RestWorld, regres_countr_data_agg, on=['period', 'cmdCode'], how='left')
RestWorld['primaryValue_y'].fillna(value=0, inplace=True)
RestWorld['primaryValue'] = RestWorld['primaryValue_x'] - RestWorld['primaryValue_y']
RestWorld['partnerCode'] = "RW_China_2"
RestWorld['reporterCode'] = 156
RestWorld = RestWorld[['period', 'reporterCode', 'partnerCode', 'cmdCode', 'primaryValue']]

China_short = China_short.append(RestWorld)

In [54]:
#China_short['partnerCode'].unique()
#China_short.to_csv("/Users/omega_macbookpro/Desktop/International_Trade/Dissertation_MRes/Comtrade/Sanctions Docs/EU/Data/Output_Script_10v1/China_short_imp.csv")

In [65]:
#1000/1010, 10/1010, 1010/1021, 11/1021
#12 * 6 * 2500 * 6
Turkiye
Turkiye_ECU3

,typeCode,freqCode,refPeriodId,refYear,refMonth,period,reporterCode,reporterISO,reporterDesc,flowCode,...,netWgt,isNetWgtEstimated,grossWgt,isGrossWgtEstimated,cifvalue,fobvalue,primaryValue,legacyEstimationFlag,isReported,isAggregate
0,C,M,20170101,2017,1,201701,792,TUR,Türkiye,M,...,0.0,False,0.0,False,150922.0,135112.00,150922.0,0,False,True
1,C,M,20170101,2017,1,201701,792,TUR,Türkiye,M,...,47.0,False,0.0,False,29272.0,26039.00,29272.0,0,False,True
2,C,M,20170101,2017,1,201701,792,TUR,Türkiye,M,...,47.0,False,0.0,False,29272.0,26039.00,29272.0,0,False,True
3,C,M,20170101,2017,1,201701,792,TUR,Türkiye,M,...,220.0,False,0.0,False,109522.0,97143.00,109522.0,0,False,True
4,C,M,20170101,2017,1,201701,792,TUR,Türkiye,M,...,19.0,False,0.0,False,11488.0,10166.00,11488.0,0,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2354,C,M,20240501,2024,5,202405,792,TUR,Türkiye,M,...,3.0,False,0.0,False,29.0,25.97,29.0,0,False,True
2355,C,M,20240501,2024,5,202405,792,TUR,Türkiye,M,...,0.0,False,0.0,False,106.0,93.00,106.0,0,False,True
2356,C,M,20240501,2024,5,202405,792,TUR,Türkiye,M,...,8.0,False,0.0,False,106.0,93.00,106.0,0,False,True
2357,C,M,20240501,2024,5,202405,792,TUR,Türkiye,M,...,8.0,False,0.0,False,106.0,93.00,106.0,0,False,True
2358,C,M,20240501,2024,5,202405,792,TUR,Türkiye,M,...,0.0,False,0.0,False,7136154.0,6416246.97,7136154.0,0,False,True

#### Download Turkiye export to Russia, EEU3

In [55]:
Turkiye = get_data_exp([string_dates[0], '792', '643,0'])

In [60]:
for years in tqdm(string_dates[1:]):
    Turkiye_new = get_data_exp([years, '792', '643,0'])
    Turkiye = Turkiye.append(Turkiye_new)

  0%|          | 0/4 [00:00<?, ?it/s]


 25%|██▌       | 1/4 [04:33<13:40, 273.49s/it]


 50%|█████     | 2/4 [11:15<10:24, 312.00s/it]


 75%|███████▌  | 3/4 [17:48<05:36, 336.41s/it]


100%|██████████| 4/4 [20:42<00:00, 310.72s/it]

In [62]:
Turkiye_ECU3 = get_data_exp([string_dates[0], '792', '398,51,417'])

In [64]:
for years in tqdm(string_dates[1:]):
    Turkiye_ECU3_new = get_data_exp([years, '792', '398,51,417'])
    Turkiye_ECU3 = Turkiye_ECU3.append(Turkiye_ECU3_new)

  0%|          | 0/7 [00:00<?, ?it/s]


 14%|█▍        | 1/7 [00:03<00:20,  3.37s/it]


 29%|██▊       | 2/7 [00:07<00:17,  3.53s/it]


 43%|████▎     | 3/7 [00:11<00:14,  3.60s/it]


 57%|█████▋    | 4/7 [00:16<00:12,  4.30s/it]


 71%|███████▏  | 5/7 [00:26<00:11,  5.79s/it]


 86%|████████▌ | 6/7 [00:42<00:08,  8.98s/it]


100%|██████████| 7/7 [00:46<00:00,  6.65s/it]

In [66]:
Turkiye = Turkiye.append(Turkiye_ECU3)

In [67]:
# fine 
pd.crosstab(index=Turkiye['classificationCode'], columns=Turkiye['refYear'])

refYear              2017   2018   2019   2020   2021   2022   2023   2024
classificationCode
H5                  79221  78956  79783  80989  87782      0      0      0
H6                      0      0      0      0      0  89305  90315  38649

array([ 51, 398, 417])

In [68]:
# keep only needed col-s
#comtrade_cols = ['period', 'partnerCode', 'partnerISO', 'classificationCode', 'cmdCode', 'primaryValue']
comtrade_cols = ['period', 'reporterCode', 'partnerCode', 'cmdCode', 'primaryValue']
Turkiye_short = Turkiye[comtrade_cols]
Turkiye_short = Turkiye_short.loc[Turkiye_short['cmdCode'].apply(len) == 6]
Turkiye_short.reset_index(inplace=True)
Turkiye_short.drop_duplicates(keep='first', inplace=True) # drop duplicates if were downloaded accidentally

In [5]:
#Turkiye_short.to_csv("/Users/omega_macbookpro/Desktop/International_Trade/Dissertation_MRes/Comtrade/Sanctions Docs/EU/Data/Output_Script_9v2/Turkiye_short_exp.csv")
Turkiye_short = pd.read_csv("/Users/omega_macbookpro/Desktop/International_Trade/Dissertation_MRes/Comtrade/Sanctions Docs/EU/Data/Output_Script_9v2/Turkiye_short_exp.csv", dtype={'cmdCode': str})
Turkiye_short.drop(['Unnamed: 0', 'index'], axis=1, inplace=True)
# check all cmdCode have 6 digits
#Turkiye_short['cmdCode'].apply(len).unique()

In [6]:
#Turkiye_ECU3_short = Turkiye_short.loc[Turkiye_short['partnerCode'].apply(lambda x: x in [398,51,417])]

In [7]:
# Turkiye_ECU3_short_agg = Turkiye_ECU3_short.groupby(['period', 'cmdCode'])['primaryValue'].sum().reset_index() # sums over countries
# Turkiye_ECU3_short_agg['partnerCode'] = 'ECU3'
# Turkiye_ECU3_short_agg['reporterCode'] = 792
# Turkiye_ECU3_short_agg = Turkiye_ECU3_short_agg[['period', 'reporterCode', 'partnerCode', 'cmdCode', 'primaryValue']]

In [8]:
# Turkiye_short = Turkiye_short.loc[Turkiye_short['partnerCode'].apply(lambda x: x not in [398,51,417])]
# Turkiye_short = Turkiye_short.append(Turkiye_ECU3_short_agg)

In [70]:
regres_countr = [643, 398,51,417] # Rus, ECU3
regres_countr_data = Turkiye_short.loc[Turkiye_short['partnerCode'].apply(lambda x: x in regres_countr)]
regres_countr_data_agg = regres_countr_data.groupby(['period', 'cmdCode'])['primaryValue'].sum().reset_index()

In [71]:
RestWorld = Turkiye_short.loc[Turkiye_short['partnerCode'] == 0]
RestWorld = pd.merge(RestWorld, regres_countr_data_agg, on=['period', 'cmdCode'], how='left')
RestWorld['primaryValue_y'].fillna(value=0, inplace=True)
RestWorld['primaryValue'] = RestWorld['primaryValue_x'] - RestWorld['primaryValue_y']
RestWorld['partnerCode'] = "RW_Turkiye_2"
RestWorld['reporterCode'] = 792
RestWorld = RestWorld[['period', 'reporterCode', 'partnerCode', 'cmdCode', 'primaryValue']]

Turkiye_short = Turkiye_short.append(RestWorld)
#Turkiye_short.drop(['index'], axis=1, inplace=True)

In [72]:
#Turkiye_short['partnerCode'].unique()
#Turkiye_short.to_csv("/Users/omega_macbookpro/Desktop/International_Trade/Dissertation_MRes/Comtrade/Sanctions Docs/EU/Data/Output_Script_10v1/Turkiye_short_imp.csv")


### Combine all data

In [17]:
#Turkiye_short['partnerCode'].unique()
ECU3_short_agg = pd.read_csv("/Users/omega_macbookpro/Desktop/International_Trade/Dissertation_MRes/Comtrade/Sanctions Docs/EU/Data/Output_Script_9v2/ECU3_short_agg_exp.csv", dtype={'cmdCode': str})
ECU3_short_agg.drop(['Unnamed: 0'], axis=1, inplace=True)

/Users/omega_macbookpro/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [73]:
database = ECU3_short_agg.append([China_short, Turkiye_short])
database['partnerCode'] = database['partnerCode'].apply(str)
database = database.loc[database['partnerCode'] != '0']
# database.drop(['Unnamed: 0', 'index'], axis=1, inplace=True)
database.drop_duplicates(keep='first', inplace=True)
database['period'] = database['period'].apply(str)

In [75]:
#database['partnerCode'].unique()

In [76]:
# append datasets according to HS5 and HS6 classif
database_2017_2021 = database.loc[database['period'] < '202201']
database_2022_2023 = database.loc[database['period'] >= '202201']

In [77]:
# convet HS6 to HS5 and group HS6 flows within same month-HS5 group
database_2022_2023_HS5 = pd.merge(database_2022_2023, HS2022toHS2017, left_on='cmdCode', right_on='From HS2022', how='left')
database_2022_2023_HS5 = database_2022_2023_HS5[['period', 'reporterCode', 'partnerCode', 'primaryValue', 'To HS2017']].groupby(['period', 'reporterCode', 'partnerCode', 'To HS2017'])['primaryValue'].sum().reset_index()

In [78]:
# rename to have same column names
database_2017_2021.rename(columns={'cmdCode':'cmdCode_HS5'}, inplace=True)
database_2022_2023_HS5.rename(columns={'To HS2017':'cmdCode_HS5'}, inplace=True)

database_HS5 = database_2017_2021.append(database_2022_2023_HS5)

/Users/omega_macbookpro/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4446: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [79]:
database_HS5_sanct = pd.merge(database_HS5, HS5_sanct, left_on='cmdCode_HS5', right_on='HS2017', how='left')
database_HS5_sanct.drop(['HS2017', 'HS2022'], axis=1, inplace=True)
database_HS5_sanct['period'] = database_HS5_sanct['period'].apply(lambda x: pd.to_datetime(x, format='%Y%m')) # convert to timestamp
database_HS5_sanct['Date_HS5'] = database_HS5_sanct['Date_HS5'].apply(lambda x: pd.to_datetime(x, format='%Y-%m-%d') if x==x else x)
database_HS5_sanct['Date_HS5_similar'] = database_HS5_sanct['Date_HS5_similar'].apply(lambda x: pd.to_datetime(x, format='%Y-%m-%d') if x==x else x)

In [80]:
print(database_HS5_sanct['Sanct_HS5'].isna().sum())
database_HS5_sanct = database_HS5_sanct.loc[database_HS5_sanct['Sanct_HS5'].notna()]
database_HS5_sanct['partnerCode'] = database_HS5_sanct['partnerCode'].apply(str)

5066

#### Prepare for regressions

In [83]:
# regres_countr + ['RW2']
database_HS5_sanct['partnerCode'].unique()

array(['643', 'RW_ECU3_1', '51', '398', '417', 'RW_China_2',
       'RW_Turkiye_2'], dtype=object)

In [84]:
#database_reg = database_HS5_sanct.loc[(database_HS5_sanct['partnerCode'] != 0) & (database_HS5_sanct['partnerCode'] != 156)]
regres_countr = ['643', 'RW_ECU3_1', '51', '398', '417', 'RW_China_2', 'RW_Turkiye_2']
database_reg = database_HS5_sanct.loc[database_HS5_sanct['partnerCode'].apply(lambda x: x in regres_countr)]

In [85]:
def periodtoint(period):
    if period == period: return period.year*12 + period.month - 24205 # 24240 is number of months before 2020-11-01
    else: return 0

database_reg.sort_values(by=['period'], inplace=True)
#ECU3_sanct_1['Date_HS5'] = ECU3_sanct_1['Date_HS5'].apply(lambda x: pd.to_datetime(x, format='%Y-%m-%d %H:%M:%S')) # convert to timestamp
database_reg['Date_HS5_int'] = database_reg['Date_HS5'].apply(periodtoint)
database_reg['period_int'] = database_reg['period'].apply(periodtoint)
database_reg['log_primaryValue'] = np.log(database_reg['primaryValue'])

/Users/omega_macbookpro/opt/anaconda3/lib/python3.7/site-packages/pandas/core/arraylike.py:358: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/omega_macbookpro/opt/anaconda3/lib/python3.7/site-packages/pandas/core/arraylike.py:358: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [86]:
database_reg['Sanct_t'] = (database_reg['period'] > database_reg['Date_HS5']).apply(int)
database_reg['Similar_t'] = (database_reg['period'] > database_reg['Date_HS5_similar']).apply(int)
database_reg['Sanct_t_int'] = (database_reg['period_int'] > database_reg['Date_HS5_int']).apply(int) # becareful, this might be falacious
database_reg['partnerCode'] = database_reg['partnerCode'].apply(str)
database_reg['reporterCode'] = database_reg['reporterCode'].apply(str)

# status at t: Partial_t = 1 if partially sanctioned at t, o o/w; Full_t = 1 if fully sanctioned at t, o o/w;
# Thus transitory code has Partial_t = 1 when partially sanctioned and Full_t = 1 when fully
database_reg['Partial_t'] = database_reg['Partial_HS5'] * database_reg['Sanct_t'] + database_reg['Transitory_HS5'] * (((database_reg['period'] > database_reg['Transitory_firstpatial_HS5']) & (database_reg['period'] <= database_reg['Transitory_firstfull_HS5'])).apply(int))
database_reg['Full_t'] = database_reg['Full_HS5'] * database_reg['Sanct_t'] + database_reg['Transitory_HS5'] * ((database_reg['period'] > database_reg['Transitory_firstfull_HS5']).apply(int))

In [87]:
# becareful as 0 time_to_treat will code both, treatment period and non-sanct products => always use with sanctioned indicator to distinguish
database_reg['time_to_treat'] = database_reg['period_int'] - database_reg['Date_HS5_int']
database_reg.loc[database_reg['Sanct_HS5'] == 0, 'time_to_treat'] = 0

In [88]:
def time_to_treat(x):
    if x < -12: return -13
    elif x > 12: return 13
    else: return x
    
database_reg['time_to_treat_ES1'] = database_reg['time_to_treat'].apply(time_to_treat)

In [95]:
# split on exporter datasets
database_reg_ECU3_agg = database_reg.loc[database_reg['reporterCode'] == 'ECU3']
database_reg_China = database_reg.loc[database_reg['reporterCode'] == '156']
database_reg_Turkiye = database_reg.loc[database_reg['reporterCode'] == '792']

database_reg_ECU3_agg[["Rus", 'RW1']] = pd.get_dummies(database_reg_ECU3_agg['partnerCode'])
database_reg_China[['Kaz', 'Kyr', 'Arm', "Rus", 'RW2']] = pd.get_dummies(database_reg_China['partnerCode'])
database_reg_Turkiye[['Kaz', 'Kyr', 'Arm', "Rus", 'RW2']] = pd.get_dummies(database_reg_Turkiye['partnerCode'])

/Users/omega_macbookpro/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3188: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [96]:
#database_reg['reporterCode'].unique()

In [97]:
# dummies for ECU3 and FSU3
database_reg_China['ECU3'] = database_reg_China['Kaz'] + database_reg_China['Kyr'] + database_reg_China['Arm']
database_reg_China['ECU3'] = database_reg_China['ECU3'].apply(lambda x: int(x>0))

database_reg_Turkiye['ECU3'] = database_reg_Turkiye['Kaz'] + database_reg_Turkiye['Kyr'] + database_reg_Turkiye['Arm']
database_reg_Turkiye['ECU3'] = database_reg_Turkiye['ECU3'].apply(lambda x: int(x>0))

/Users/omega_macbookpro/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/omega_macbookpro/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/omega_macbookpro/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/Users/omega_macbookpro/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [106]:
print(database_reg_ECU3_agg['period'].max(), 
      database_reg_China['period'].max(),
      database_reg_Turkiye['period'].max()
     )

2024-05-01 00:00:00 2023-12-01 00:00:00 2024-05-01 00:00:00

In [99]:
print(database_reg_China['ECU3'].sum())
database_reg_China
(database_reg_China['partnerCode'] == '51').sum()

12045

2948

In [37]:
print(database_reg_Turkiye['ECU3'].sum())
#(database_reg_Turkiye['partnerCode'] == '51').sum()

200689

In [100]:
# database_reg_ECU3_agg.to_csv("/Users/omega_macbookpro/Desktop/International_Trade/Dissertation_MRes/Comtrade/Sanctions Docs/EU/Data/Output_Script_10v1/database_reg_ECU3_agg.csv")
# database_reg_China.to_csv("/Users/omega_macbookpro/Desktop/International_Trade/Dissertation_MRes/Comtrade/Sanctions Docs/EU/Data/Output_Script_10v1/database_reg_China.csv")
# database_reg_Turkiye.to_csv("/Users/omega_macbookpro/Desktop/International_Trade/Dissertation_MRes/Comtrade/Sanctions Docs/EU/Data/Output_Script_10v1/database_reg_Turkiye.csv")

In [113]:

#China_short.loc[China_short['partnerCode'] == 51]

#pd.crosstab(index=China_short.loc[China_short['partnerCode'] == 51]['reporterCode'], columns=China_short.loc[China_short['partnerCode'] == 51]['period'])

#China_short.loc[China_short['partnerCode'] == 51]

#pd.crosstab(index=database_reg_China['partnerCode'], columns=database_reg_China['period'])

In [116]:
database_reg_China['time_to_treat_ES1'].unique()

array([  0, -13, -12, -11, -10,  -9,  -8,  -7,  -6,  -5,  -4,  -3,  -2,
        -1,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13])

In [89]:
#database_reg.loc[database_reg['reporterCode'].isna()]

In [101]:
#database_reg.to_csv("/Users/omega_macbookpro/Desktop/International_Trade/Dissertation_MRes/Comtrade/Sanctions Docs/EU/Data/Output_Script_5/database_exp_reg_v5_RW2.csv")